
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.9);
}
.container{
    max-width:1080px ;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    
}
header{
    background-color: black;
    width: 100%;
    box-shadow: 0px 5px 10px;
}

.menu{
    width: 50%;
}
.menu nav a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    position: relative;

}
.menu nav a:hover{

     color: rgb(149, 62, 255);
        text-shadow: 2px 5px 10px rgb(240, 209, 255);
     border-radius: 20px;
    

    

}.menu nav a::after{

        content: " ";
        width: 0%;
        height: 4px;
        background-color: rgb(149, 62, 255) ;
        position: absolute;
        left: 0;
        bottom:0 ;
        transition: 0.5s ease-in-out;
        border-radius: 5px;
        box-shadow: 2px 5px 10px rgb(174, 0, 255);
        
}.menu nav a:hover::after{
    width: 100%;
}
.logo img{
    padding-top: 25px;
    margin: 0px 10px 10px 0;
    float: left;
    padding: 5px;
   width: 60%;

}
#sobremim h1{
        padding-top: 100px;
        text-align: center;
}